.card {
  margin: auto;
}

.header {
  text-align: center;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

:host >>> .mat-form-field-wrapper {
    width: 80%;
}

.create {
    background-color: rgb(26, 26, 26);
    color: white;
}
