table {
  width: 100%;
}

.input_filter {
    width: 50%;
}

.create {
    background-color: rgb(26, 26, 26);
    color: white;
    float: right;
}

.middle {
    text-align: center;
}

.final {
    text-align: end;
}